<html>
  <head>
    <meta charset="utf-8">
    <title>Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>


  <body>

    <H1>This is my home page</H1>
 <a href="">Report a status</a> 

  </body>


  </html>