
<div class="container">
      <h1> Status </h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Title" name="title" value="title">
        <br>

        <input type="text" placeholder="Status Description" name="Description" value="Description">
        <br>
        
        <select name ="Priority">
          <option value ="High">High</option>
          <option value ="Medium">Medium</option>
          <option value ="low">Low</option>
        </select>
        <br>

       <select name ="Department">
          <option value ="dep 1">dep 1</option>
          <option value ="dep 2">dep 2</option>
          <option value ="dep 3">dep 3</option>
        </select>
        <br>

        <input class="btn btn-default" type="submit" value="Submit">

      </form>

    </div>